body {
  background-color: pink;
}

@media (min-width: 720px) {
  body {
    background-color: blue;
  }
}

.special {
  color: blue;
}

p {
  color: blue;
}

p {
  color: red;
}

h1 {
  color: aqua;
}

.outer {
  border: 5px solid black;
}

.box {
  margin: 30px;
  width: 100px;
  height: 100px;
  background-color: rebeccapurple;
  /* transform: rotate(0.8turn); */
  transform: translate(120px, 50%);
}
