<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>title</title>
    <link rel="stylesheet" href="../styles/components/grid.css" />
  </head>
  <body>
    <header class="global-header">
      <h1 class="brand-title"><b>サッカー</b> 日記</h1>
    </header>
    <main class="main">
      <div class="card-container">
        <div class="card">
          <img
            class="image"
            src="../assets/images/sports_soccer_pass_man.png"
            width="360"
            height="240"
            alt=""
          />
          <h2 class="card-title">サッカー少年</h2>
          <p class="description">ゴールを決めてよろこぶサッカー少年</p>
          <div class="label">
            <span class="material-symbols-outlined">pets</span>Goods
          </div>
        </div>
        <div class="card">
          <img
            class="image"
            src="../assets/images/sports_soccer_hiza_sliding.png"
            width="360"
            height="240"
            alt=""
          />
          <h2 class="card-title">What's going on here?</h2>
          <p class="description">
            I have no idea where he was born. All I remember is that he used to
            meow and cry in a dim, dank place.
          </p>
          <div class="label">
            <span class="material-symbols-outlined">restaurant</span>Food
          </div>
        </div>
        <div class="card">
          <img
            class="image"
            src="../assets/images/sports_soccer_pass_man.png"
            width="360"
            height="240"
            alt=""
          />
          <h2 class="card-title">サッカー少年</h2>
          <p class="description">ゴールを決めてよろこぶサッカー少年</p>
          <div class="label">
            <span class="material-symbols-outlined">pets</span>Goods
          </div>
        </div>
        <div class="card">
          <img
            class="image"
            src="../assets/images/sports_soccer_hiza_sliding.png"
            width="360"
            height="240"
            alt=""
          />
          <h2 class="card-title">What's going on here?</h2>
          <p class="description">
            I have no idea where he was born. All I remember is that he used to
            meow and cry in a dim, dank place.
          </p>
          <div class="label">
            <span class="material-symbols-outlined">restaurant</span>Food
          </div>
        </div>
        <div class="card">
          <img
            class="image"
            src="../assets/images/sports_soccer_pass_man.png"
            width="360"
            height="240"
            alt=""
          />
          <h2 class="card-title">サッカー少年</h2>
          <p class="description">ゴールを決めてよろこぶサッカー少年</p>
          <div class="label">
            <span class="material-symbols-outlined">pets</span>Goods
          </div>
        </div>
        <div class="card">
          <img
            class="image"
            src="../assets/images/sports_soccer_hiza_sliding.png"
            width="360"
            height="240"
            alt=""
          />
          <h2 class="card-title">What's going on here?</h2>
          <p class="description">
            I have no idea where he was born. All I remember is that he used to
            meow and cry in a dim, dank place.
          </p>
          <div class="label">
            <span class="material-symbols-outlined">restaurant</span>Food
          </div>
        </div>
      </div>
    </main>
    <footer class="global-footer">
      <address>あいうえお</address>
    </footer>
  </body>
</html>
